{% from 'do_choice_parameter.j2' import do_choice_parameter with context %}
{% from 'do_string_parameter.j2' import do_string_parameter with context %}
{% from 'do_password_parameter.j2' import do_password_parameter with context %}
{% macro do_params(parameters) %}
    <hudson.model.ParametersDefinitionProperty>
        <parameterDefinitions>
{%  for parameter_block in parameters %}

{%    if 'choice' in parameter_block.type %}
{{      do_choice_parameter(parameter_block) }}
{%    endif %}

{%    if 'string' in parameter_block.type %}
{{        do_string_parameter(parameter_block) }}
{%    endif %}

{%    if 'password' in parameter_block.type %}
{{        do_password_parameter(parameter_block) }}
{%    endif %}
{%  endfor %}
        </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
{% endmacro %}
