{% macro do_item_prototype(m)   %}
                        <item_prototype>
                            <name>{{ m.name}}</name>
                            <type>{{ m.type |default(0)}}</type>
                            <snmp_community/>
                            <multiplier>{{ m.multipler|default(0)}}</multiplier>
                            <snmp_oid/>
                            <key>{{ m.xkey }}</key>
                            <delay>{{ m.delay | default(60)}}</delay>
                            <history>{{ m.history|default(7)}}</history>
                            <trends>{{ m.trends|default(365)}}</trends>
                            <status>{{ m.status|default(0)}}</status>
                            <value_type>{{ m.value_type|default(0)}}</value_type>
                            <allowed_hosts/>
                            <units>{{ m.units|default('')}}</units>
                            <delta>{{ m.delta|default(0)}}</delta>
                            <snmpv3_contextname/>
                            <snmpv3_securityname/>
                            <snmpv3_securitylevel>{{m.snmpv3_privpassphrase|default(0)}}</snmpv3_securitylevel>
                            <snmpv3_authprotocol>{{m.snmpv3_authprotocol|default(0)}}</snmpv3_authprotocol>
                            <snmpv3_authpassphrase/>
                            <snmpv3_privprotocol>{{m.snmpv3_securityname|default(0)}}</snmpv3_privprotocol>
                            <snmpv3_privpassphrase/>
                            <formula>{{m.formula|default(1)}}</formula>
                            <delay_flex/>
                            <params/>
                            <ipmi_sensor/>
                            <data_type>{{m.data_type|default(0)}}</data_type>
                            <authtype>{{m.authtype|default(0)}}</authtype>
                            <username/>
                            <password/>
                            <publickey/>
                            <privatekey/>
                            <port/>
                            <description/>
                            <inventory_link>{{m.inventory_link|default(0)}}</inventory_link>
                            <applications>
{%    for _app in m.applications                                              %}
                                <application>
                                <name>{{ _app }}</name>
                                </application>
{%    endfor %}
                            </applications>
                            <valuemap/>
                        </item_prototype>
{% endmacro %}
