{%  macro do_screen(x) %}
                <screen>
                <name>{{ x.name |default('')}}</name>
                <hsize>{{ x.hsize|default('') }}</hsize>
                <vsize>{{ x.vsize|default('') }}</vsize>
                    <screen_items>
{%    for _s in x.screen_items                                              %}
                        <screen_item>
                            <resourcetype>{{ _s.resourcetype|default(0)}}</resourcetype>
                            <width>{{ _s.width|default(0) }}</width>
                            <height>{{ _s.height|default(0) }}</height>
                            <x>{{ _s.x | default(0) }}</x>
                            <y>{{ _s.y |default(0) }}</y>
                            <colspan>{{ _s.colspan|default(1)}}</colspan>
                            <rowspan>{{ _s.rowspan|default(1)}}</rowspan>
                            <elements>{{_s.elemens|default(1)}}</elements>
                            <valign>{{_s.valign|default(1)}}</valign>
                            <halign>{{_s.halign|default(0)}}</halign>
                            <style>{{_s.style|default(0)}}</style>
                            <url/>
                            <dynamic>{{_s.dynamic|default(0)}}</dynamic>
                            <sort_triggers>{{_s.sort|default(0)}}</sort_triggers>
                            <resource>
                                <name>{{_s.name}}</name>
                                <host>{{_s.host | default('')}}</host>
                                <key>{{_s.skey | default('')}}</key>
                            </resource>
                            <application/>
                        </screen_item>
{%    endfor                                                            %}
                    </screen_items>
                </screen>
{% endmacro %}
