{% macro do_zabbix_item(x) %}
                <item>
                <name>{{ x.name|default('') }}</name>
                <type>{{ x.type |default(0)}}</type>
                    <snmp_community/>
                    <multiplier>{{ x.multiplier |default(0)}}</multiplier>
                    <snmp_oid/>
                    <key>{{ x.xkey|default('') }}</key>
                    <delay>{{ x.delay |default(60)}}</delay>
                    <history>{{ x.history | default(7)}}</history>
                    <trends>{{ x.trends | default(365)}}</trends>
                    <status>{{ x.status |default(0)}}</status>
                    <value_type>{{ x.value_type |default(0)}}</value_type>
                    <allowed_hosts/>
                    <units>{{ x.units |default('')}}</units>
                    <delta>{{ x.delta | default(0) }}</delta>
                    <snmpv3_contextname/>
                    <snmpv3_securityname/>
                    <snmpv3_securitylevel>{{ x.snmpv3_securitylevel |default(0) }}</snmpv3_securitylevel>
                    <snmpv3_authprotocol>{{ x.snmpv3_authprotocol|default(0)}}</snmpv3_authprotocol>
                    <snmpv3_authpassphrase/>
                    <snmpv3_privprotocol>{{x.snmpv3_privpassphrase|default(0)}}</snmpv3_privprotocol>
                    <snmpv3_privpassphrase/>
                    <formula>{{ x.formula | default(1)}}</formula>
                    <delay_flex/>
                    <params/>
                    <ipmi_sensor/>
                    <data_type>{{ x.data_type|default(0)}}</data_type>
                    <authtype>{{ x.authtype|default(0)}}</authtype>
                    <username/>
                    <password/>
                    <publickey/>
                    <privatekey/>
                    <port/>
                    <description>{{x.description | default('')}}</description>
                    <inventory_link>{{x.inventory_link |default(0)}}</inventory_link>
{% if x.applications is defined                                             %}
                    <applications>
{%    for _app in x.applications                                            %}
                        <application>
                        <name>{{ _app }}</name>
                        </application>
{%    endfor                                                                %}
                    </applications>
{% endif                                                                    %}
                    <valuemap/>
                </item>
{% endmacro %}
