{% macro do_password_parameter(password_parameter) %}
          <hudson.model.PasswordParameterDefinition>
            <name>{{ password_parameter['name'] }}</name>
            <description>{{ password_parameter['description'] }}</description>
            <defaultValue>{{ password_parameter['default'] }}</defaultValue>
        </hudson.model.PasswordParameterDefinition>
{% endmacro %}
