---

# Trigger pipelines, we need the first job to be built at least once
# so that we can visualise the full pipeline
#

- name: install httplib2
  pip: name=httplib2
    state=present
  tags:
    - jenkins_pipeline

- name: kick first job in the pipeline
  uri: url="http://localhost:8080/job/{{item}}/buildWithParameters"
    follow_redirects=all
    method=GET
    status_code=200,201
  with_items:
    - "{{ pipeline_first_jobs }}"
  tags:
    - jenkins_pipeline

